@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

.bg-dark {
    background-color: #111418 !important;
}

.bg-dark-1 {
    background-color: #212529 !important;
}

.bg-dark-2 {
    background-color: #343a40 !important;
}

.react-slideshow-container .default-nav {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    background-color: rgba(250, 250, 250, 0.3) !important;
    color: #fff !important;
    transition: all .3s ease-in-out;
    width: 45px !important;
    height: 45px !important;
}

.react-slideshow-container .default-nav:hover {
    background-color: #ccc !important;
}

.react-slideshow-container .nav:first-of-type {
    left: 10px;
}

.react-slideshow-container .nav:last-of-type {
    right: 10px
}

@media (min-width: 1024px) {
    .react-slideshow-container .default-nav {
        opacity: 0;
    }

    .react-slideshow-container:hover .default-nav {
        opacity: 1;
    }
}